.user-box {
    position: absolute;
    top: 90px;
    right: 0;
    width: 87%;

    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-right: 30px;
}

.box-link {
    display: flex;
    align-items: center;
    gap: 15px;
}

.box-link .link {
    text-decoration: none;
    cursor: pointer;
    color: rgba(0, 0, 0, 0.5);
    transition: all 0.3s ease;
}

.box-link .link:hover {
    color: rgba(0, 0, 0, 0.8);
}

.user-box .box-title {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    height: 85px;
    gap: 12px;
}

.user-box .box-add {
    width: 20%;
    display: flex;
    align-items: center;
    gap: 20px;
}

.user-box .box-add .circle-add {
    width: 45px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    background-color: var(--default-primary-color);
    color: white;
    cursor: pointer;
    transition: all 0.3s ease;
}

.user-box .box-add .circle-add:hover {
    background-color: white;
    box-shadow: 0px 0px 0px 1px #c6c7c6;
    color: var(--default-primary-color);
}

.user-box .box-data {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.user-box .box-filter {
    width: 40%;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    border-radius: 7px;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.3);
}

.user-box .box-filter .fields {
    display: flex;
    gap: 20px;
}

.user-box .box-filter .fields-filter{
    display: flex;
    gap: 20px;
}

.user-box .box-title .title {
    color: #000000e6;
}

.user-box .box-filter .filter {
    color: rgba(0, 0, 0, 0.8);
}
