.container-delete {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 99;
}

.container-delete .modal-delete {
    background-color: white;
    width: 450px;
    height: 200px;
    padding: 20px;
    border-radius: 7px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    animation: animaModal 0.3s forwards;
}

.container-delete .modal-delete .buttons-delete {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

