.register {
    width: 100%;
    height: 100vh;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
}

.register-modal {
    padding: 40px;
    width: 500px;
    height: 700px;
    overflow-y: scroll;
    background-color: white;
    border-radius: 7px;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.6);
    display: flex;
    flex-direction: column;
    gap: 30px;
    animation: animaFormRegister 0.3s forwards;
}

.register-modal form {
    display: flex;
    width: 100%;
    flex-direction: column;
    gap: 30px;
    justify-content: center;
    align-items: center;
}

.title-register .title {
    display: flex;
    flex-direction: column;
}

.button-field {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 30px;
}

.button-field .button-cancel {
    background-color: white;
    color: var(--default-primary-color);
    transition: all 0.3s ease;
}

.button-field .button-cancel:hover {
    background-color: var(--default-primary-color);
    color: white;
}

.button-field .button-save {
    background-color: var(--default-primary-color);
    color: white;
    transition: all 0.3s ease;
}

.button-field .button-save:hover {
    background-color: white;
    color: var(--default-primary-color);
}

@keyframes animaFormRegister {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}