.container-cads-form {
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.7);
    position: fixed;
    left: 0;
    top: 0;
    z-index: 99;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-cads-form .modal-cads-form {
    width: 1400px;
    background-color: #f5f4f4;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    border-radius: 7px;
    overflow-y: auto;
    gap: 20px;
    animation: animaModal 0.3s forwards;
}

.container-cads-form .modal-cads-form .title-cads-form {
    height: 100px;
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
}

.container-cads-form .modal-cads-form #field-input-password {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-cads-form .modal-cads-form #field-input-password #eye {
    position: absolute;
    right: 20px;
    color: rgba(0, 0, 0, 0.7);
    cursor: pointer;
    transition: all 0.3s ease;
}

.container-cads-form .modal-cads-form #field-input-password #eye:hover {
    color: rgba(0, 0, 0, 0.9);
}

.box-form-inputs-fields {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

.box-form-inputs-fields .box-fields-table {
    width: 100%;
    background-color: white;
    padding: 10px;
    box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.1);
    border-radius: 1px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.box-form-inputs-fields .box-fields-table .title-box-table {
    background-color: var(--default-secondary-color);
    height: 45px;
    color: white;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 10px;
    border-radius: 1px;
}

.box-form-inputs-fields .box-fields-table .fields-box {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 30px;
    flex-wrap: wrap;
}

.box-form-inputs-fields .box-fields-cads {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
}

.box-form-inputs-fields .box-fields-table .search-cep {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.modal-cads-form .button-fields-cads {
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
    height: 120px;
}

.modal-cads-form .button-fields-cads .button-cancel {
    background-color: white;
    color: var(--default-primary-color);
}

@keyframes animaModal {
    0% {
        transform: translateY(-120%);
    }

    100% {
        transform: translateY(1);
    }
}