.container-cads-form {
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.7);
    position: fixed;
    left: 0;
    top: 0;
    z-index: 99;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    padding: 10px;
}

.container-cads-form .modal-cads-form {
    background-color: #f5f4f4;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    border-radius: 7px;
    overflow-y: auto;
    gap: 20px;
    animation: animaModal 0.3s forwards;
    width: 80%;
}

.container-cads-form .modal-cads-form .title-cads-form {
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
}

.box-form-inputs-fields {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

.box-form-inputs-fields .box-fields-table {
    background-color: white;
    padding: 10px;
    box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.1);
    border-radius: 1px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 20px;
}

.box-form-inputs-fields .box-fields-table .title-box-table {
    background-color: rgba(0, 0, 0, 0.1);
    height: 45px;
    color: var(--default-secondary-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-radius: 4px;
}

.box-form-inputs-fields .box-fields-table .title-box-table .button-increment-register {
    display: flex;
    align-items: center;
    gap: 20px;
}

.box-form-inputs-fields .box-fields-table .title-box-table .button-increment-register .title-increment {
    background-color: var(--default-secondary-color);
    color: white;
    border-radius: 7px;
    padding: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.box-form-inputs-fields .box-fields-table .title-box-table .button-increment-register .icon-increment {
    cursor: pointer;
    position: relative;
}

.box-form-inputs-fields .box-fields-table .title-box-table .button-increment-register .icon-increment .total {
    position: absolute;
    top: -8px;
    right: -8px;
    background-color: rgb(255, 95, 95);
    width: 15px;
    height: 15px;
    text-align: center;
    border-radius: 50%;
}

.box-form-inputs-fields .box-fields-table .fields-box {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 30px;
    flex-wrap: wrap;
}

.box-form-inputs-fields .box-fields-cads {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
}

.box-form-inputs-fields .box-fields-table .search-cep {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.modal-cads-form .button-fields-cads {
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

.modal-cads-form .button-fields-cads .button-cancel {
    background-color: white;
    color: var(--default-primary-color);
}

@keyframes animaModal {
    0% {
        transform: translateY(-120%);
    }

    100% {
        transform: translateY(1);
    }
}

@media (max-width: 1200px) {
    .container-cads-form {
        z-index: 95;
    }
    .container-cads-form .modal-cads-form {
        overflow: auto;
        width: 97%;
        height: 80%;
    }
}
