.container-home {
    position: absolute;
    top: 130px;
    right: 0;
    width: 87%;

    display: flex;
    flex-direction: column;
    gap: 20px;
    overflow-x: hidden;
}

.container-infos {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 120px;
}

.title-home {
    display: flex;
    flex-direction: column;
}