.container-home {
    position: absolute;
    top: 80px;
    right: 0;
    width: 89%;

    display: flex;
    flex-direction: column;
    gap: 20px;
    overflow-y: hidden;
    padding-right: 30px;
}

.container-infos {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 120px;
}

.title-home {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.title-home .filter-dashboard {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.container-home .container-dashboard {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.container-home .container-dashboard .box-cards {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    padding: 20px;
    flex-wrap: wrap;
    height: 100%;
}

.container-home .container-chart-city {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    padding: 10px;
    border: 1px solid  rgba(0, 0, 0, 0.4);
    background-color: white;
}

.container-home .container-chart-date {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    padding: 10px;
    border: 1px solid  rgba(0, 0, 0, 0.4);
    background-color: white;
}

.container-home .container-chart .title-chart {
    height: 55px;
} 