div .app-bar {
    background-color: red;
    background-color: var(--white-color);
    z-index: 99;
    position: fixed;
}

.nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-bar .logo {
    width: 150px;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

.nav-bar .logo img {
    width: 50%;
    height: 50%;
}

.nav-bar .user {
    display: flex;
    align-items: center;
    flex-direction: row;
    font-family: sans-serif;
    color: rgba(0, 0, 0, 0.8);
    gap: 20px;
}

.nav-bar .user .circle-user {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background-color: white;
    border: 1px solid var(--default-primary-color);
    color: var(--default-primary-color);
}

.submenu {
    width: 10%;
    top: 60px;
    height: 100%;
    position: fixed;
    background-color: var(--default-primary-color);
    box-shadow: 0px 5px 5px 2px rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
}

.submenu-mobile {
    display: none;
}

.submenu ul {
    display: flex;
    justify-content: flex-start;
    padding-top: 50px;
    padding-left: 40px;
    flex-direction: column;
    gap: 15px;
    height: 900px;
    position: relative;
    align-items: flex-start     ;
}

.submenu ul li {
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 7px;
    transition: all 0.3s ease;
    padding: 7px;
    border-radius: 3px;
    color: var(--white-color);
    cursor: pointer;
    transition: all 0.3s ease;
}

.submenu ul li:hover {
    background-color: var(--white-color);
    color: var(--default-primary-color);
}

.submenu nav ul a {
    font-size: 12px;
    text-decoration: none;
    color: var(--white-color);
    font-family: sans-serif;
    font-weight: bold;
}

.submenu nav ul li:hover a {
    color: var(--default-primary-color);
}

.logout {
    width: 50%;
    height: 35px;
    position: absolute;
    bottom: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--white-color);
    border-radius: 7px;
    transition: all 0.3s ease;
}

.button-open-submenu-mobile {
    display: none;
}

.logout:hover {
    color: var(--white-color);
    background-color: var(--default-primary-color);
}

@media (max-width: 1200px) {
    .submenu {
        display: none;
    }

    .button-open-submenu-mobile {
        display: flex;
        position: fixed;
        left: 17px;
        top: 95px;
        cursor: pointer;
        transition: all 0.3s ease;
        z-index: 99;
        background-color: white;
        border-radius: 4px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 30px;
        height: 30px;
        border-radius: 7px;
    }

    .button-open-submenu-mobile:hover {
        opacity: 0.7;
    }

    .submenu-mobile {
        width: 10%;
        top: 60px;
        height: 100%;
        position: fixed;
        background-color: var(--default-primary-color);
        box-shadow: 0px 5px 5px 2px rgba(0, 0, 0, 0.5);
        display: flex;
        justify-content: center;
        animation: animaMenuMobile 0.2s ease;
    }

    .submenu-mobile ul {
        display: flex;
        justify-content: flex-start;
        padding-top: 80px;
        flex-direction: column;
        gap: 15px;
        height: 900px;
        position: relative;
        align-items: center;
    }

    .submenu-mobile ul li {
        text-decoration: none;
        display: flex;
        align-items: center;
        gap: 7px;
        transition: all 0.3s ease;
        padding: 7px;
        border-radius: 3px;
        color: var(--white-color);
        cursor: pointer;
        transition: all 0.3s ease;
    }

    .submenu ul li:hover {
        background-color: var(--white-color);
        color: var(--default-primary-color);
    }

    @keyframes animaMenuMobile {
        0%{
            transform: translateX(-30px);
        }
        100% {
            transform: translateX(1);
        }
    }
}