.user-box {
    position: absolute;
    top: 80px;
    right: 0;
    width: 89%;

    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-right: 30px;
    overflow-x: hidden;
}

.box-link {
    display: flex;
    align-items: center;
    gap: 15px;
}

.box-link .link {
    text-decoration: none;
    cursor: pointer;
    color: rgba(0, 0, 0, 0.5);
    transition: all 0.3s ease;
}

.box-link .link:hover {
    color: rgba(0, 0, 0, 0.8);
}

.user-box .box-title {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    height: 85px;
    gap: 12px;
}

.user-box .box-add {
    display: flex;
    align-items: center;
    gap: 20px;
}

.user-box .box-data {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.user-box .box-data form {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    gap: 10px;
    padding: 10px;
    border-radius: 7px;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.3);
    border: 1px solid var(--default-primary-color);
    background-color: white;
}

.user-box form .fields-filter {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 20px;
    overflow: auto;
    padding: 10px;
}

.user-box .box-title .title {
    color: #000000e6;
}

.user-box form .filter {
    color: rgba(0, 0, 0, 0.8);
}

.table-users-pagination {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
}

.table-users-pagination .table-users-button {
    display: flex;
    gap: 5px;
}

.table-users-pagination .button-pagination-user {
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(0, 0, 0);
    cursor: pointer;
    transition: all 0.1s ease;
    font-family: sans-serif;
    text-transform: uppercase;
    font-size: 12px;
    padding: 2px;
    background-color: var(--default-primary-color);
    color: white;
    border: none;
    outline: 0;
    border-radius: 7px;
}

.table-users-pagination .button-pagination-user-disabled {
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(0, 0, 0);
    cursor: pointer;
    transition: all 0.1s ease;
    font-family: sans-serif;
    text-transform: uppercase;
    font-size: 12px;
    padding: 2px;
    background-color: var(--default-primary-color);
    color: white;
    border: none;
    outline: 0;
    border-radius: 7px;
    opacity: 0.3;
}

.search-button-filter {
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.search-button-filter .button-filter-users {
    background-color: var(--default-primary-color);
    transition: all 0.3s ease;
}

.search-button-filter .button-filter-users:hover {
    background-color: white;
    color: var(--default-primary-color);
}

.search-button-filter .button-remove-filter-users {
    width: 25px;
    background-color: var(--default-primary-color);
    transition: all 0.3s ease;
}

.search-button-filter .button-remove-filter-users:hover {
    background-color: white;
    color: var(--default-primary-color);
}


@media (max-width: 1200px) {
    .user-box {
        padding-bottom: 10px;
    }

    .box-title {
        text-align: center;
    }

    .box-add {
        align-items: center;
        justify-content: center;
    }

    .box-data form {
        display: flex;
        flex-direction: column;
        overflow: auto;
    }

    .box-data form .fields-filter {
        flex-wrap: wrap;
    }

    .box-data form .search-button-filter {
        flex-wrap: wrap;
    }
}