.home-box {
    position: absolute;
    top: 80px;
    right: 0;
    width: 89%;

    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-right: 30px;
    overflow-x: hidden;
}

.home-box .field-permissions {
    display: flex;
    gap: 50px;
}

.box-link {
    display: flex;
    align-items: center;
    gap: 15px;
}

.box-link .link {
    text-decoration: none;
    cursor: pointer;
    color: rgba(0, 0, 0, 0.5);
    transition: all 0.3s ease;
}

.box-link .link:hover {
    color: rgba(0, 0, 0, 0.8);
}

.home-box .box-title {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    height: 85px;
    gap: 12px;
}

.home-box .box-add {
    width: 20%;
    display: flex;
    align-items: center;
    gap: 20px;
}

.home-box .box-filter {
    width: 70%;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    border-radius: 7px;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.3);
    background-color: white;
}

.home-box .box-filter .fields {
    display: flex;
    gap: 20px;
}

.home-box .box-filter .fields-filter{
    display: flex;
    gap: 20px;
}

.home-box .box-title .title {
    color: #000000e6;
}

.home-box .box-filter .filter {
    color: rgba(0, 0, 0, 0.8);
}

.home-box form {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
}

.home-box form .box-permissions {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
}